.container {
    width: 700px;
    height: 700px;
    display: grid;
    border: 2px solid black;
    border-radius: 6px;
}

body {
    font-family: 'Comic Sans MS', Verdana, sans-serif;
    text-align: center;
}

.body {
    display: flex;
    justify-content: center;
}

button {
    background-color: #1697c6;
    color: rgb(255, 223, 154);
    width: 70px;
    height: 30px;
    border-radius: 16px;
}

h1, h2 {
    color: #7520bf;
}